<!doctype html>
<html>
  <head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://kit.fontawesome.com/c522008f67.js" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
	
	<title>Socket.IO Test</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      #messages { list-style-type: none; margin: 0; padding: 0; height: 50% }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
	  .bottom {
                position:absolute;   
				margin-bottom:50px;
				padding-top: 10%
				padding-bottom: 10%;
                bottom:0;     
                padding-left:20%;                         
            }
			
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		  }

		  @media (min-width: 768px) {
			.bd-placeholder-img-lg {
			  font-size: 3.5rem;
			}
		  }
		  
    </style>
  </head>


  <body>
  <div class="row" >
	<div class="col-2 d-flex flex-column flex-shrink-0 text-white bg-dark" style="height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Rooms</span>
    </a>
    <hr>
	<p>
		  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
			make room
		  </a>
		  
		</p>
		<div class="collapse" id="collapseExample">
		  
			
			<input id="makeroomname" autocomplete="off" placeholder="room name" style="width:80%; height:30px" />
			<input id="makeroomnumber" autocomplete="off" placeholder="room number" style="width:80%; height:30px" />
		  
			<button id="makeroom" type="button" class=" btn-primary fs-4 bi bi-plus-square" >
			
				
			</button>
		</div>
	
    
		
		<div id="roomlist" class="list-group flex-column mb-auto">
			<br>
		  
		</div>
      
		
    <hr>
	<div id="profile_area" class="row">
		<div id="profilephoto" class="col-3 ">
				
			<img src="uploads/anon.jpg" alt="" width="50" height="50" class="rounded-circle fs-1 me-2">
			
		</div>
		<div class="col">
		
		
			
		
		
			<a  id="profilename" href="#" class="d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">
				<strong >anon</strong>
		  </a>
			
		</div>
		<div class="col-3 dropdown"style="align:right;">
		  <a href="#" class="d-flex align-items-center text-white  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			
		  </a>
		  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			
			<li><a class="dropdown-item" href="#">Sign out</a></li>
			<p>
					프로필 이름 변경
			</p>

			
			<form id="login">
					<input id="name" autocomplete="off" placeholder="이름" />
					
					<button >join</button>
			</form>
			
			<p>
					프로필 사진 변경
			</p>
			<form action="/chatt" id="profilephotochange" enctype="multipart/form-data" method="post">
				
				<input type="file" name="img">

				<button type="button" onclick="upload_file();">Upload</button>
			</form>
			
			
		  </ul>
		</div>
	</div>
  </div>
  
	<div class=" col container">
		<div class="row" style="height:80vh;">
			<div class="me-3 col-9 border border-5" style="height:80vh; overflow-y: auto;">
				<div id="messages" >
					
				</div>
				
			</div>
			
			<div id="memberlist" class="col border border-5" style="">
				current users
				<br>
				
				
			</div>
		</div>
		<div class=" row" >
			<div  class="me-3  pt-2 pb-2 col-9 border border-5" style="height:10vh;">
				<form id="send">
					
					<input id="h" autocomplete="off" placeholder="내용" style="width:80%; height:100%" />
					<button >Send</button>
				</form>
			</div >
			
			<!--
			<div class="me-3  pt-2 pb-2 col border border-5" style="height:10vh;" >
				<form id="login">
					<input id="name" autocomplete="off" placeholder="이름" />
					
					<button >join</button>
				</form>
			</div>
			-->
		</div>
		
	</div>
  
</div>
	
	
	<script>
	
	var socket = io();
	var memberlist = new Array();
	var roomcount =0;
	var currentroom='';
	
	
	$( "#profilephotochange" ).ajaxForm(
		{
			url: "/chatt",
			method: "post",
			enctype: "multipart/form-data",
			success: function ( file ){
				$('#profilephoto > img').attr('src',file.path);
				console.log("ajax");
				console.log( file );
				socket.emit('photochange',file);
			}
		}
	);

	function upload_file(){
		$( "#profilephotochange" ).submit();
	}
	
	
	
	function send_msg_for_me( obj ){
		var form = obj.parentNode;
		
		var aJson = {"name":form.m.value, "content":form.h.value};
		  
		  var send = JSON.stringify(aJson);
		  
		  socket.emit( 'friend', send );
	}
	
	
	$(function () {
	
		//방 선택시
		$(document).on("click",".room",function(){
			$('.room').removeClass('active');
			$(this).addClass('active');
			currentroom = $(this).text();
			socket.emit('roomselect',currentroom);
			//console.log( currentroom);
			console.log("roomselect : " + currentroom);
		});
		
		
		$( '#makeroom' ).click(function(e){
		  e.preventDefault();

		  var roomname = $('#makeroomname').val(); 
		  var roomnumber = $('#makeroomnumber').val(); 
		  var aJson = {"roomname":roomname, "roomnumber":roomnumber};
		  
		  var send = JSON.stringify(aJson);
		  
		  socket.emit( 'roomcreate', aJson );
			
			$('#makeroomname').val('');
			
		  
		  return false;
		});
		
		
		

		$( '#login' ).submit(function(e){
		  e.preventDefault();

		  var name = $('#name').val(); 
		  
		  var aJson = {"name":name};
		  
		  var send = JSON.stringify(aJson);
		  
		  socket.emit( 'login', aJson );
			
		  $('#profilename > strong').remove();
		  $('#profilename ').append("<strong>"+name+  "</strong>");
		  return false;
		});


		$( '#send' ).submit(function(e){
		  e.preventDefault();

		  var name = $('#name').val(); 
		  var content = $('#h').val();
		  //var room = $('#h').val();
		  
		  
		  var aJson = {"name":name, "content":content,"room":currentroom};
		  
		  //var send = JSON.stringify(aJson);
		  
		  socket.emit( 'reply', aJson );
 
		  $('#h').val('');
		  return false;
		});
		
		socket.on('reply',function(msg){
		//msg.name .content .room .sockid
			console.log(msg);
			//console.log('mysockid: ' + msg.sockid);
			if(currentroom == msg.room)
				if (socket.id == msg.sockid){
					$('#messages').append("<p class='chattlogs' align='right'>"+msg.name+ ": "+ msg.content+ "</p>");
				}
				else{
				
					$('#messages').append("<img src='"+msg.photopath + "' alt='' width='50' height='50' class='userphoto rounded-circle fs-1 me-2'>" +    "<p class='chattlogs'>"+msg.name+ ": "+ msg.content+ "</p>");
				}
			
		});
		
		socket.on('roomupdate',function(list){
			
			console.log("roomupdate");
			$('#roomlist > .room').remove();
				
			for (let i=0; i<list.length; i++){
				$('#roomlist').append("<a href='#' class='room list-group-item list-group-item-action'>"+list[i].roomname+ "</a> ");
				
				console.log("current rooms : " + list[i].id);
			}
		});
		
		socket.on('chattupdate',function(chattlogs){
			//chattlogs.roomid .socket_from .socket_to .messages .name .photopath
			
			$('#messages > .chattlogs').remove();
			$('#messages > .userphoto').remove();
			
			for(let i=0; i<chattlogs.length; i++){
				
				if (socket.id == chattlogs[i].socket_from){
					
					$('#messages').append("<p class='chattlogs' align='right'>"+chattlogs[i].name+ ": "+ chattlogs[i].messages+ "</p>");
				}
				else{
				
					$('#messages').append("<img src='"+chattlogs[i].photopath + "' alt='' width='50' height='50' class='userphoto rounded-circle fs-1 me-2'>" +    "<p class='chattlogs'>"+chattlogs[i].name+ ": "+ chattlogs[i].messages+ "</p>");
				}
			
				//$('#messages').append("<p align='right'>"+chattlogs[i].name+ ": "+ chattlogs[i].messages+ "</p>");
				//$('#messages').append("<img src='"+chattlogs[i].photopath + "' alt='' width='50' height='50' class='userphoto rounded-circle fs-1 me-2'>" +    "<p class='chattlogs'>"+chattlogs[i].name+ ": "+ chattlogs[i].messages+ "</p>");
			}
			
			console.log("chattupdate");
			
		});
		
		//접속자 변동시 업데이트
		socket.on('userupdate',function(list){
			
			console.log("userupdate");
			$('#memberlist > .userid').remove();
			$('#memberlist > .userphoto').remove();
				
			
			for (let i=0; i<list.length; i++){
				$('#memberlist').append(" <img src='"+list[i].photopath + "' alt='' width='50' height='50' class='userphoto rounded-circle fs-1 me-2'>" + 	"<p class='userid'>"+ list[i].id +" : " + list[i].name +  "</p>");
				console.log("current users : " + list[i].id);
			}
			
			
		});
		
		
		
	  });
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
