.Drawboard {
    
    width: 100%;
    height: 100%;
    background:  #03A9F4;
}

.color-picker-Drawboard {
    text-align: center;
    display: inline;
    color: white;
}

.brushsize-Drawboard {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}
