
.board-Drawboard {
  width: 100%;
  height: 100%;
  background: white;
}

.App {
  text-align: center;
  overflow-y: scroll ;
  background-color: #ADADADFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


